<% include ./partials/header %>

<body class="bg-light">    
   <% include ./partials/home-navbar %>        
    <div class="container">
        <div id="main-alert" class="mb-5"></div>       
        <div class="row">
            <div class="col-lg-6 m-auto">
                <ul class="list-group mb-5" id="queueList"></ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2 order-md-1 mb-5">
                <h5 class="text-center mb-3" id="queue-counter"></h5>
                <button class="btn btn-block btn-primary" id="getSroButton">Get SRO's</button>
                <button class="btn btn-block btn-success" id="toggleViewQueueButton">View Queue</button>
                <button class="btn btn-block btn-danger" id="clearQueueButton">Clear Queue</button>
                <button class="btn btn-block btn-warning" id="resetFilterButton">Reset Filter</button>
            </div>
            <div class="col-md-10">
                <div id="map"></div>
            </div>
        </div>
    </div>  

    <% include ./partials/home-footer %>
    <% include ./partials/modals/addTower %>
    <% include ./partials/modals/filterTower %>
    <% include ./partials/modals/spinner %>
    <% if(isAdmin) { %>
        <% include ./partials/modals/adminTechSelect %>
    <% } %>
    <script>const isAdmin= <%= isAdmin %> </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/mapView/dist/app.bundle.js"></script>
  </body>
</body>
</html>